<h1>Angular Reactive works</h1>
<h2>i made form using reactive in case u wanna do two much validatiions ,or u want to bind something
  ok....one more thing         
  it is mostly use to handle ts that mean javascript dude... we cant use html bcoz template m html 
  use krte h...
</h2>

<form [formGroup]="loginform" (ngSubmit)="collectData()">
  <label>User name</label>
<input type="text" name="username" formControlName ="username" placeholder="Enter name"><br><br>
<!--<span  style="color:blue;" *ngIf="username && username.invalid && !loginform.controls['username'].hasError('minlength(4)') &&
submitted ">username is req</span>
<span style="color:blue;" *ngIf ="loginform.controls['username'].hasError('required')">username is req</span><br>-->
<span *ngIf="loginform.controls['username'].hasError('minlength')">minlength is 4</span><br>

<label>Password</label>
<input type="password" name="password" formControlName ="password" ><br><br><br>


  <label>Email address</label>
  <input type="email" class="form-control" formControlName ="email" placeholder="enter email"><br><br>
  <span class="error" *ngIf="email && email.invalid && submitted">email is not valid</span><br><br>

  
  <label>phoneno</label>
  <input type="text" class="form-control" formControlName ="phoneno" placeholder="enter phoneno"><br>
  <!-- <span  *ngIf="phoneno && phoneno.invalid && submitted">phoneno is not valid</span> -->
  <span *ngIf="loginform.controls['phoneno'].hasError('minlength')">minlength is 4</span><br><br>
  <span *ngIf="loginform.controls['phoneno'].hasError('maxlength')">maxlength is 12</span><br><br>
  <button type="Submit">loginform </button>

</form>